*{margin:0; padding:0; border:0}
body {padding: 0; margin: 0 auto 0 auto; background:#050575; font: 11px Verdana, Arial; color: #969696; text-align: left;}
td, tr {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #B6B6B6; text-align: left;}
#container_in{text-align: left; width:1004px; padding:0;  float:left}
#container{width: 1004px;  margin: 0 auto 0 auto;}
#title{padding: 0; margin:0; float:left; width: 1004px;}
#logo {border-style: none; float:left;}

#left{vertical-align:top;}
#right{vertical-align:top;}
.middle{vertical-align:top;}

.input{border-right: 1px solid #173348; border-bottom: 1px solid #173348; border-top: 1px thin #204764; border-left: 1px thin #204764; margin: 1px 2px; font-size: 12px;}

.links{padding: 6px; margin: 0 0 6px 0;}
.leftmenu{background: #0D0D0D;  margin-top:3px; padding:3px;}
.leftmenu a{padding: 1px 0 1px 0px;}
.leftmenu a:hover{color: #DDF0FD; text-decoration: underline;}

#footer{padding:0; padding-top: 15px; float:left; width:1004px; height:100px; color: #969696;}
#footer p {  font: 11px tahoma; color: #865d01; text-align:center; line-height: 18px;}
#footer a{color: #fb3406; margin: 0 10px 0 0; text-decoration: underline}
#footer a:hover{color: #FFF; margin: 0 10px 0 0; text-decoration: underline}
#footer span{float:right;}
#footer span a{text-transform: none;}
.game_area{ background-color: black;  background-position:0 0;  width: 790px; background:none;}
/* ==========================================================================================================*/
a {color: #fb3406; text-decoration: none}
a:hover {text-decoration: underline;}
img{border:0; vertical-align: top;}
#header{width:1004px; top center;height:123px; margin-top:0px; position:relative;}

.box_wrap{ padding: 0px; margin: 0; text-align:center; float:left; width:990px}
.box_wrap p{text-align:justify; color:#2A6D99;}
.box_wrap p a{color:#FCC901;}
.pop_wrap{ padding: 0px; margin: 0; text-align:center; float:left; width:630px}


.box_play{background:url(images/boxbg_play.gif) no-repeat top right; height:700px}

.thumb_wrapper{width:80px; height:83px; float:left; text-align:center; padding:0;}
.game_thumb{width:80px; height:83px; padding:12px 0 0 3px;  float:left;}
.thumb_img{}
.thumb_wrapper_big{width:180px; height:151px; float:left; text-align:center; padding:3px; padding-left:0;}
.game_thumb_big{background:#312D2B; width:170px; font-weight:normal; float:left; padding:5px;}

.tblstats {font:11px taoma; background:#17356B;}
.row0{background:#620803; color:#ffffff; text-align:center}
.row1{background:#001946; color:#CCCCCC; padding-left:5px}
.row2{background:#031E50; color:#CCCCCC; padding-left:5px }
.row1 a{ color:#fb3406}
.row2 a{ color:#FEE184}

.thumb{position:relative; margin:0; width:78px; height:81px; float:left; background: url(images/thumb.png) no-repeat center center;}
.thumb_bg{position:absolute; top:0; left:0; z-index:1}
.thumb_image{position:absolute; top:9px; width:60px; height:60px; left:9px; z-index:2}
.thumb_overlay{position:absolute; top:9px; left:9px;z-index:3}
.thumb_big{position:relative; margin:0; width:117px; height:120px; float:left}
.thumb_bg_big{position:absolute; top:0; left:0; z-index:1}
.thumb_image_big{position:absolute; top:8px; width:100px; height:100px; left:8px; z-index:2}

ul.navigator {

    float: center;

    margin: 7px 0 7px 13px;

    padding: 2px 0;

}

ul.navigator li {

    display: inline;

    list-style-type: none;

    margin-right: 2px;

    padding: 0;

}

ul.navigator li a {

    border: 1px solid #FC952F;
font-size:15px;
    color: #FB3728;
	font-weight:bold;

    padding: 2px 3px;

    text-decoration: none;

}

ul.navigator li a:hover {

    background-color: #CCCCCC;

}

ul.navigator li span {

    color: #000000;

    padding: 0 2px;

}